/* @theme vbifonix */
/* @size 9:16 750px 1000px */

@import "uncover";

/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* jetbrains-mono-cyrillic-wght-normal */
@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/cyrillic-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-3-latin-wght-normal */
@font-face {
  font-family: "Source Sans 3 Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-3:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-3-cyrillic-wght-normal */
@font-face {
  font-family: "Source Sans 3 Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-3:vf@latest/cyrillic-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "LucideIcons";
  src: url(https://unpkg.com/lucide-static@latest/font/lucide.ttf)
    format("truetype");
}

.icon-send:before {
  content: "\e155";
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "LucideIcons" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-mono: "JetBrains Mono Variable";
  --font-text: "Source Sans 3 Variable";

  --color-foreground: #18181b;

  --color-accent: #ff7f4f;
}

*::selection {
  background: rgb(246, 135, 179, 0.1);
  text-decoration: underline;
  text-decoration-color: rgba(49, 130, 206, 0.3);
  text-shadow: 0.15ex 0.15ex 0 rgba(237, 100, 166, 0.2);
}

* {
  font-family: var(--font-text);
  letter-spacing: 1px;
}

.noNerd {
  font-family: var(--font-mono);
}

* {
  text-align: left;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
  font-weight: 900;
  letter-spacing: 3px;
}

p {
  font-size: 0.8rem;
}

code *,
code {
  font-family: var(--font-mono);
  line-height: 1.7;
}

marp-pre,
code,
span[data-marp-auto-scaling-container] {
  background: #fff;
  --color-background-code: #fff;
  box-shadow: 0;
  letter-spacing: 0;
}

marp-pre {
  filter: none;
  padding: 0.5ex 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

code {
  box-shadow: 0;
}

ul {
  margin-left: 1rem;
}

ul:has(+ ul) {
  margin-bottom: 0;
}

li {
  font-size: 0.8rem;
  line-height: 1.3;
}

li:not(:last-child) {
  margin-bottom: 1ch;
}

blockquote:has(+ marp-pre) {
  &::before,
  &::after {
    display: none;
  }

  padding: 0;

  margin-bottom: calc(-0.5em - 2px);
  font-size: 0.7em;
  display: flex;

  & > p {
    display: inline;
    font-size: 0.6em;
    padding: 4px 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 0;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 300;
    font-family: var(--font-mono);
  }
}

marp-pre + blockquote {
  border-top-left-radius: 0;
}

i {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  font-weight: 100;

  &.html {
    color: #e34c26;
    opacity: 0.6;
  }

  &.js {
    color: #f0db4f;
    opacity: 0.6;
  }
}

[data-map-auto-scaling-container] {
  margin-left: 1em !important;
}

header span.nordic {
  font-family: var(--font-mono);
  display: block;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    width: 1lh;
    height: 1lh;
    background: url("./assets/nordic_logo_mini.svg");
    background-size: cover;
    opacity: 0.9;
    margin-right: 1ex;
  }
}

header {
  width: 100vw;
  min-width: 1240px;
  margin-left: -70px;
  border: 1px solid;
  border-left: 0;
  border-right: 0;
  color: var(--color-accent);
  background-color: #fff;
  margin-right: -70px;
  font-family: var(--font-mono);
  text-shadow: none;
  padding: 5px 20px;
}

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  font-size: 0.8rem;
  background: none;
  font-family: var(--font-mono);
  font-weight: 300;
  opacity: 0.3;
}

.author-card {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  gap: 2ex;
  margin-bottom: 2ex;
}

.author-card > img {
  border-radius: 9999px;
}

.author-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.author-name {
  font-size: 1.1em;
  font-weight: 800;

  & > span {
    display: inline-block;
  }
}

.author-tg {
  font-size: 0.7em;
  margin-bottom: 0.8ex;
}

.author-resume {
  font-size: 0.5em;
}

.smaller {
  font-size: 0.8em;
}

.strike {
  position: relative;

  &::after {
    content: "";
    height: 2px;
    position: absolute;
    background-color: #000;
    width: 100%;
    z-index: 999;
    top: calc(50% - 1px);
    left: 0;
    opacity: 0.4;
  }
}

section {
  background-image: url("./assets/bg.svg");
  background-color: #fff;
  background-size: 250px;
  background-position: -100px -100px;
  box-shadow: inset 0 0 35px 52px rgba(0, 0, 0, 0.01);
}

section.white-bg {
  background: #fff;
}

a {
  text-decoration: underline;
  text-shadow: none;
}

li > img {
  vertical-align: middle;
}

ul:has(+ ul) > li:last-child {
  margin-bottom: 1ch;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

section:not(.imageLeft) p:has(> img:first-child:last-child),
section:not(.imageLeft) p:has(> video:first-child:last-child) {
  display: flex;
  justify-content: center;
}

section.imageLeft p:has(> img:first-child:last-child) {
  justify-content: flex-start;
  display: block;
}

img {
  max-height: 560px;
  max-width: 100%;
}

section.titular {
  background-image: url("./assets/titular_bg.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 2lh;
}

section.titular h1 {
  background: rgba(255, 255, 255, 0.4);
  margin: -0.6ex -1ex;
  font-size: 1.1em;
  padding: 0.6ex 1ex;
  /* color: var(--color-background); */
  color: #000;
  text-shadow: 0.1ex 0.1ex 0 rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  backdrop-filter: blur(10px);

  &::before {
    display: block;
    height: 1lh;
    content: "";
    min-width: 1lh;
    margin-right: 1ex;
    background-image: url("./assets/icon.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

section.screaming {
  background-color: #000;
  background-image: url("./assets/bg_bright.svg");
  color: #fff;
}

section.screaming h1 {
  font-size: 3em;
  text-align: center;
}

section.screaming header {
  background-color: rgba(20, 20, 20, 0.4);
  color: #fff;
}

section.screaming h6 {
  text-align: center;
  opacity: 0.4;
}

section.overwhelming li[data-bespoke-marp-fragment="inactive"] {
  display: none;
}

section.overwhelming.large {
  font-size: 1.7em;
}

section.screaming author-name {
  font-size: 0.9em;
  font-weight: 800;
}

button.scared,
button.scaredToo {
  font-size: 2em;
  margin: 0 auto;
  font-weight: 900;
  border-radius: 200px;
  padding: 0.5em 1em;
  margin: 0 auto;
  text-align: center;
  color: var(--color-background);
  background-color: var(--color-foreground);
  width: 100%;

  &.animated {
    animation: vibrate-1 0.4s linear infinite both;
  }

  &.away {
    animation: away 5s linear 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-13 2:3:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }

  40% {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }

  60% {
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }

  80% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }

  40% {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }

  60% {
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }

  80% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes away {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(90px, 90px);
    transform: translate(90px, 90px) rotate(calc(60deg * 1));
  }

  40% {
    -webkit-transform: translate(180px, 180px);
    transform: translate(180px, 180px) rotate(calc(60deg * 2));
  }

  60% {
    -webkit-transform: translate(270px, 270px);
    transform: translate(270px, 270px) rotate(calc(60deg * 3));
  }

  80% {
    -webkit-transform: translate(360px, 360px);
    transform: translate(360px, 360px) rotate(calc(60deg * 4));
  }

  100% {
    -webkit-transform: translate(450px, 450px);
    transform: translate(450px, 450px) rotate(calc(60deg * 5));
    opacity: 0;
  }
}

section.rotatingImg img {
  transition: all;
  animation: 3s rotatingImg linear infinite both;
}

@keyframes rotatingImg {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Define an improved `slide-up` transition, with better backward navigation */
@keyframes marp-outgoing-transition-slide-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(var(--marp-transition-direction, 1) * -100%));
  }
}
@keyframes marp-incoming-transition-slide-up {
  from {
    transform: translateY(calc(var(--marp-transition-direction, 1) * 100%));
  }
  to {
    transform: translateY(0%);
  }
}
